# Ignore Visual Studio .vs folder
.vs/

# Ignore all x64 folder
**/x64/

# Ignore Resources folder
Resources/*

# Ignore all file in the Debug folder
Bins/Debug/*

# Ignore all file in the Release folder
Bins/Release/*